<h2>Register Here</h2>

<form action="/register" method ='POST'>
  <label>Email</label>
  <input type="email" name="email"/>
  <label>Password</label>
  <input  type="password" name ="password">
  <input type="submit">
</form>